{{#if user}}
<h2 class="page-header">Select fields</h2>
{{#if csvHeaders}}
<form method="post" action="/data/upload">
  <div class="form-group">
    <label>FileName</label>
    <input type="text" class="form-control" name="csvFileName" value={{csvFileName}} readonly="readonly">
  </div>
  <div class="form-group">
    <label>FilePath</label>
    <input type="text" class="form-control" name="csvFilePath" value={{csvFilePath}} readonly="readonly">
  </div>
  {{#each csvHeaders}}
  <div class="form-group">
    {{#if isChecked}}
    <input type="checkbox" name="{{name}}" value="{{name}}" checked>
    <label for={{name}}> {{name}}</label>
    {{else}}
    <input type="checkbox" name="{{name}}" value="{{name}}">
    <label for={{name}}> {{name}}</label>
    {{/if}}
  </div>
  {{/each}}
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{{/if}}
{{/if}}
